@{
  Layout=null;
}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-with"/>
  <title>Login</title>
  <link href="~/Content/Peruano.css" rel="stylesheet"/>  
</head>
<body>
  <div>
    <table>
      <tr class="Titulo">
        <td> Carrito de Compras</td>
      </tr>
      <tr class="Subtitulo">
        <td>Login del Sistema con Captcha</td>
      </tr>
      
          <tr>
            <td>
              <table style="width:50%">
              <tr>
                <td style="width:30%">Usuario</td>
                <td style="width:70%"><input id="txtUsuario" type="text" style="width:200">
              </tr>
              <tr>
                <td>Clave</td>
                <td><input id="txtClave" type="password" style="width:200px;"></td>
              <tr>
    </table >
  </div>
</body>

</html>
